{
  "recommendations": [
    "charliermarsh.ruff",
    "ms-azuretools.vscode-docker",
    {%- if typing %}
    "ms-python.mypy-type-checker",
    {%- endif %}
    "redhat.vscode-yaml",
    "tamasfe.even-better-toml"
  ]
}
